// Colors

$primaryColor: hsl(322, 100%, 66%);
$neutralPaleCyan: hsl(193, 100%, 96%);
$neutralDarkCyan: hsl(192, 100%, 9%);
$neutralGrayBlue: hsl(208, 11%, 55%);

// Fonts

$bodyFont: "Open Sans", sans-serif;
$headingFont: "Poppins", sans-serif;

// Breakpoints

$small: 699px;
$medium: 700px;
$large: 1000px;
