html {
    font-size: 100%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: $bodyFont;
    font-weight: $normal;
    font-size: 0.875rem;
    color: $neutral;
    background-color: $mainBG;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headingFont;
    margin-top: 0;
}
p {
    margin-top: 0;
}

h1 {
    font-size: 1.5rem; // 24px
    margin-bottom: 25px;

    @include breakpoint(large) {
        font-size: 2.5rem; // 40px
        margin-bottom: 45px;
    }
}

h2 {
    font-size: 1.125rem; // 18px

    @include breakpoint(large) {
        font-size: 2.5rem; //40px
    }
}

h3 {
    font-size: 1.125rem; // 18px

    @include breakpoint(large) {
        font-size: 2rem; //32px
    }
}
h4 {
    font-size: 1.125rem; // 18px
    margin-bottom: 15px;
}

p.large {
    font-size: 1rem; // 16px
    line-height: 1.7;
    @include breakpoint(large) {
        font-size: 1.37rem; // 22px
    }
}

p.medium {
    font-size: 0.875rem; // 14px
    line-height: 1.6;

    @include breakpoint(large) {
        font-size: 1rem; // 16px;
    }
}

p.small {
    font-size: 0.7rem; // 11px
    line-height: 1.6;

    @include breakpoint(large) {
        font-size: 1rem; // 16px
    }
}
// Helper Classes
.bold {
    font-weight: $strong;
}

.cta {
    font-weight: $strong;
    font-family: $headingFont;
}
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content {
    max-width: calc(350px + 9vw);
    padding-left: 25px;
    padding-right: 25px;

    @include breakpoint(medium) {
        max-width: none;
        padding-left: 3vw;
        padding-right: 3vw;
    }
}

.mgn-btm {
    margin-bottom: 35px;
}

.sml-mg-btm {
    margin-bottom: 20px;
}

// Buttons
button {
    cursor: pointer;
}

.get-started {
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to right, $ctaCyan, $ctaBlue);
    border: none;
    padding: 20px 80px;
    border-radius: 30px;

    @include breakpoint(large) {
        padding-left: 95px;
        padding-right: 95px;
    }
}
